.dashboard-page-container {
	display: grid;
	grid-template-columns:
		minmax($layoutPadding, 1fr)
		minmax(auto, 1300px)
		minmax($layoutPadding, 1fr);

	grid-template-rows: minmax(calc(100vh - 291px), auto); // Force footer to bottom

	background: $main_bg2;
	position: relative;
	padding-block: rem(42px);

	@media screen and (max-width: $mobile-breakpoint) {
		grid-template-columns:
			minmax($layoutPadding, 1fr)
			minmax(auto, 550px)
			minmax($layoutPadding, 1fr);

		grid-template-rows: minmax(calc(100vh - 130px), auto); // Force footer to bottom
	}
}

.dashboard-container {
	header {
		padding-bottom: 20px;

		h1 {
			font-weight: 300;
			font-size: rem(40px);
			line-height: 120%;
			color: #404145;
			font-family: 'Macan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			margin: 0;
		}
	}

	.dashboard-filter {
		margin-bottom: rem(20px);
		position: relative;

		ul {
			border-bottom: 1px #dddddd solid;
			position: relative;
			display: flex;
			flex-direction: row;
			gap: 15px;

			li {
				display: inline-block;
				transition: left 0.3s;

				a {
					display: block;
					padding: 3px 5px 10px 5px;
					color: #999999;
					font-size: 14px;
					line-height: 42px;
					font-weight: 400;
					text-decoration: none;
					text-transform: uppercase;
				}

				p {
					// display: block;
					display: flex;
					flex-direction: row;
					align-items: center;

					padding: 3px 5px 10px 5px;
					color: #999999;
					font-size: 14px;
					line-height: 42px;
					font-weight: 550;
					text-decoration: none;
					text-transform: uppercase;

					@media screen and (max-width: $mobile-breakpoint) {
						display: flex;
						align-items: center;
						background-color: none;

						font-size: rem(16px);
					}

					span {
						display: flex;
						align-items: center;
						justify-content: center;

						margin-inline-start: rem(7px);
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background-color: #999999;
						color: #fff;
						font-size: 12px;
						font-weight: 500;

						@media screen and (max-width: $mobile-breakpoint) {
							margin-inline-start: rem(3px);
							width: auto;
							height: auto;
							border-radius: 0;
							background-color: $main_bg2;
							color: #999999;
							font-size: 12px;
							font-weight: 550;
						}
					}

					&.dashboard-black {
						color: #0e0e0f;
						font-weight: 550;
						position: relative;

						&::after {
							content: '';
							display: block;
							width: 15px;
							height: 15px;
							background-color: $main_bg2;
							border: #dddddd 1px solid;
							border-bottom: none;
							border-right: none;
							position: absolute;
							transform: rotate(45deg);
							bottom: -8px; /* Adjust position relative to the text */
							left: 50%;
							transform: translateX(-50%) rotate(45deg);

							@media screen and (max-width: $mobile-breakpoint) {
								content: '';
								position: absolute;
								left: 0;
								bottom: 0;
								width: 100%;
								height: 4px; // Adjust the height of the border
								background-color: #27c179;
								transform: rotate(0deg);
							}
						}

						span {
							background-color: $main_clr1;
							@media screen and (max-width: $mobile-breakpoint) {
								background-color: $main_bg2;
								color: $main_clr1;
							}
						}
						@media screen and (max-width: $mobile-breakpoint) {
							color: $main_clr1;
						}
					}

					&:hover {
						cursor: pointer;
					}
					.clear-span {
						display: none;
						// background-color: $main_bg2;
						// color: $main_bg2;
					}
					@media screen and (max-width: $mobile-breakpoint) {
						@include font(12px, 16px, 400);
					}
				}
			}
		}

		.dashboard-create-gig-btn {
			position: absolute;
			right: 0;
			top: 10px;
			background-color: #1dbf73;
			font-weight: 700;
			color: #fff;
			border: 1px solid transparent;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 12px;
			line-height: 12px;
			display: inline-block;
			letter-spacing: 0;
			white-space: nowrap;
			text-transform: uppercase;
			padding: 9px 20px 8px 20px;
			margin: 0;
			cursor: pointer;
			transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
			border-radius: 3px;
		}
	}

	.dashboard-data-container {
		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			font-size: inherit;
			// width: 1240px;

			thead {
				border-collapse: collapse;

				.header-filter {
					background-color: #fff;
					border: 1px #e5e5e5 solid;

					td {
						font-size: 14px;
						line-height: 25px;
						padding-top: 15px;
						padding-bottom: 15px;
						color: #0e0e0f;
						font-weight: 600;
						text-transform: uppercase;
						padding: 15px 15px 15px 0;
						padding-left: 20px;
						vertical-align: middle;
						white-space: nowrap;
						position: relative;
					}
				}

				.header-data {
					background-color: #fff;
					border: 1px #e5e5e5 solid;

					td {
						font-size: 12px;
						font-weight: 600;
						text-transform: uppercase;
						color: #999999;
						padding-top: 0;
						padding-bottom: 0;
						// padding: 3px 3px 3px 0;
						padding: 5px 45px 5px 0;
						white-space: nowrap;
					}

					.dashboard-table-header-gig {
						padding-inline-start: rem(50px);
					}

					.dashboard-table-header-cancellation {
						padding-right: 200px;
					}
				}
			}

			tbody,
			.main-table {
				.gig-dashboard-item,
				tr {
					background-color: #fff;
					border: 1px #e5e5e5 solid;
					outline: 0;
					font-size: 100%;
					vertical-align: baseline;
					margin: 0;
					border-collapse: collapse;
					border-spacing: 0;
					height: 71px;
					text-wrap: wrap;
				}

				td {
					// display: block;
					padding: 15px 15px 15px 0;
					font-size: 14px;
					line-height: 20px;
					color: #555555;
					// vertical-align: middle;
					white-space: normal;
				}

				.dashboard-gig-img {
					display: flex;
					align-items: center;
					// justify-content: center;
					position: relative;
					top: 7px;

					// width: 32px;
					transition: background-color 0.1s;
					padding-inline-start: rem(50px);
					// margin-block: rem(50px);

					@media screen and (max-width: $mobile-breakpoint) {
						margin: 0;
						padding: 0;
						width: 320px;
						height: auto;
					}
				}

				.dashboard-title {
					font-size: 14px;
					line-height: 16px;
					transition: background-color 0.1s;
					white-space: normal;

					// padding-right: rem(290px);
					padding-inline-start: rem(25px);

					div {
						max-height: 40px;
						min-width: rem(315px);
						overflow: hidden;
					}
				}

				.dashboard-dropdown {
					padding-right: 20px;
					transition: background-color 0.1s;
					text-align: right;
				}
			}
		}
	}
}

.button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	button {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: rem(8px) rem(17px);
		display: inline-block;
		position: relative;
		font: 400 12px 'Macan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		// text-transform: uppercase;
		cursor: pointer;
		border-radius: 4px;

		margin-right: 10px;
		background-color: #fff;
	}

	.accept-button {
		@include button-border($main_clr1);

		background-color: $main_clr1;
		color: #fff;
	}

	.decline-button {
		@include button-border($comp_clr1);
		background-color: $comp_clr1;
		color: #fff;
	}
}

@media screen and (max-width: $mobile-breakpoint) {
	.gig-dashboard-item {
		display: flex;
		//   flex-direction: column;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		margin: 0;
		padding: 0;
	}
}

// Mobile Breakpoint
@media screen and (max-width: $mobile-breakpoint) {
	.dashboard-page-container {
		.page-title {
			@include font(24px, 24px, 550);
		}

		.main-table {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			margin: 0;
			padding: 0;
			margin-block-end: rem(34px);

			.mobile-img {
				max-width: 120px;
				max-height: 80px;
				margin-inline: rem(8px) rem(24px);
				margin-block: rem(8px) rem(14px);
				overflow: hidden;
				border-radius: 5px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}

			.mobile-container {
				margin-block-end: rem(24px);
				background-color: #fff;
				padding: rem(4px);
				border-radius: 4px;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

				.info-container {
					display: flex;
					flex-direction: row;
					align-items: center;
				}

				.button-container {
					margin-block-end: rem(14px);

					button {
						// box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
						border: none;
						font-weight: 700;
					}

					.accept-button {
						color: rgb(7, 134, 7);
						background-color: rgb(145, 223, 145);
					}

					.decline-button {
						color: rgb(214, 7, 7);
						background-color: rgb(235, 149, 149);
					}
				}
			}

			.buyer-container {
				margin-block: (14px);
				margin-inline-start: rem(12px);
				.mobile-buyer-img {
					border-radius: 50%;
					width: rem(30px);
					height: rem(30px);
				}

				.mobile-buyer-name {
					margin-inline-start: rem(14px);
					@include font(12px, 16px, 400);
					color: #555555;
				}
			}
		}

		.dashboard-filter-mobile {
			ul {
				margin-block-end: rem(0px);
			}

			span {
				background-color: none;
			}
		}

		.mobile-price {
			margin-block-end: rem(14px);
			@include font(18px, 24px, 550);
			color: #0e0e0f;
		}
	}
}
