.dashboard-page-container {
  display: grid;
  grid-template-columns:
    minmax($layoutPadding, 1fr)
    minmax(auto, 1300px)
    minmax($layoutPadding, 1fr);

  background: #f7f7f7;
  position: relative;
  top: rem(-42px);
  padding-block-start: rem(42px);
}

.dashboard-container {
  // layout need to be fixed here
  // margin-bottom: rem(20px);
  //   min-height: rem(800px);
  //   position: relative;
  // padding-bottom: rem(100px);
  //   font-size: 100%;
  //   width: 1240px;
  //   margin: 0 auto;
  // margin-top: rem(30px);

  // padding-left: 200px;
  // @media screen and (max-width: $mobile-breakpoint) {
  //     @include font(32px, 38px, 400);
  // }
  // @media screen and (max-width: $mobile-breakpoint) {
  // 	margin: 0;
  // 	padding: 0;
  // }

  header {
    padding-bottom: 20px;

    h1 {
      font-weight: 300;
      font-size: rem(40px);
      line-height: 120%;
      color: #404145;
      font-family: 'Macan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 0;
    }
  }

  .dashboard-filter {
    margin-bottom: rem(20px);
    position: relative;

    ul {
      border-bottom: 1px #dddddd solid;
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 15px;

      li {
        display: inline-block;
        transition: left 0.3s;

        a {
          display: block;
          padding: 3px 5px 10px 5px;
          color: #999999;
          font-size: 14px;
          line-height: 42px;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
        }

        p {
          display: block;
          padding: 3px 5px 10px 5px;
          color: #999999;
          font-size: 14px;
          line-height: 42px;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;

          &.dashboard-black {
            color: #0e0e0f;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .dashboard-create-gig-btn {
      position: absolute;
      right: 0;
      top: 10px;
      background-color: #1dbf73;
      font-weight: 700;
      color: #fff;
      border: 1px solid transparent;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
      line-height: 12px;
      display: inline-block;
      letter-spacing: 0;
      white-space: nowrap;
      text-transform: uppercase;
      padding: 9px 20px 8px 20px;
      margin: 0;
      cursor: pointer;
      transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
      border-radius: 3px;
    }
  }

  .dashboard-data-container {
    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: inherit;
      // width: 1240px;

      thead {
        border-collapse: collapse;

        .header-filter {
          background-color: #fff;
          border: 1px #e5e5e5 solid;

          td {
            font-size: 14px;
            line-height: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: #0e0e0f;
            font-weight: 600;
            text-transform: uppercase;
            padding: 15px 15px 15px 0;
            padding-left: 20px;
            vertical-align: middle;
            white-space: nowrap;
            position: relative;
          }
        }

        .header-data {
          background-color: #fff;
          border: 1px #e5e5e5 solid;

          td {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            color: #999999;
            padding-top: 0;
            padding-bottom: 0;
            // padding: 3px 3px 3px 0;
            padding: 5px 45px 5px 0;
            white-space: nowrap;
          }

          .dashboard-table-header-gig {
            padding-left: 100px;
            // padding: 15px 15px 15px 0;
          }

          .dashboard-table-header-cancellation {
            padding-right: 200px;
          }
        }
      }

      tbody {
        // .gig-dashboard-item
        .gig-dashboard-item,
        tr {
          background-color: #fff;
          border: 1px #e5e5e5 solid;
          outline: 0;
          font-size: 100%;
          vertical-align: baseline;
          margin: 0;
          border-collapse: collapse;
          border-spacing: 0;
          height: 71px;
          text-wrap: wrap;

          //THIS IS ALL THE GRID !!!!!
          @media screen and (max-width: $mobile-breakpoint) {
            max-width: 300px;
            max-height: 300px;
            // background-color: #8ff8c7;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 10px;
            padding: 10px;
          }

          td {
            // display: block;
            //
            padding: 15px 15px 15px 0;
            font-size: 14px;
            line-height: 20px;
            color: #555555;
            // vertical-align: middle;
            white-space: normal;
          }

          .dashboard-gig-img {
            width: 32px;
            transition: background-color 0.1s;
            // padding-inline-start: rem(100px);
          }

          .dashboard-title {
            font-size: 14px;
            line-height: 16px;
            transition: background-color 0.1s;
            white-space: normal;

            // padding-right: rem(290px);

            div {
              max-height: 40px;
              min-width: rem(315px);
              overflow: hidden;
            }
          }

          .dashboard-dropdown {
            padding-right: 20px;
            transition: background-color 0.1s;
            text-align: right;

            .button-container {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;

              button {
                display: flex;
                align-items: center;
                justify-content: center;

                border-color: #e5e5e5;
                // padding: 8px 17px 21px 10px;
                padding: rem(8px) rem(17px);
                // background-color: #fff;
                display: inline-block;
                position: relative;
                font: 400 12px 'Macan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #777777;
                text-decoration: none;
                // text-transform: uppercase;
                white-space: nowrap;
                cursor: pointer;
                border-radius: 3px;

                margin-right: 10px;
                background-color: #fff;
              }

              .accept-button {
                // background-color: green;
                @include button-border($main_clr1);
              }

              .decline-button {
                @include button-border($comp_clr1);
              }
            }
          }
        }
      }
    }
  }
}

// .hide-mobile-dash {
//     @media screen and (max-width: $mobile-breakpoint) {
//         display: none;
//     }
// }
