// .gig-prev-container {
//     background-color: rgb(216, 240, 216);
// }

.gig-prev-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;

    .gig-card {
        border: solid;
        background-color: rgb(216, 240, 216);
    }
}

.gig-page {
    .gig-sorting {
        .top-filters {
            display: flex;
            gap: 1rem;
            padding: 20px;

            .filter {
                position: relative;

                .filter-button {
                    color: black;
                    font-size: 17px;
                    display: flex;
                    align-items: center;
                    background: #fff;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    z-index: 1;

                    &:hover {
                        background: #f5f5f5;
                    }

                    .filter-label {
                        margin-right: 0.5rem;
                        font-weight: bold;
                    }

                    .chevron-icon-down {
                        width: 16px;
                        height: 16px;
                        fill: #333;
                        transition: transform 0.2s;
                    }
                }


            }
        }
    }
}