.advert-container {
    // background-color: rgb(216, 240, 216);
    padding: 50px;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: black;
    font-weight: 500;
}

.advert-area {
    color: black;
}