#Header {
  position: sticky;
  top: 0;
  z-index: 1000;

  .header-package {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #e4e6e7;

    .header-row-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .btn-navicon {
          background: none;
          border: none;
          cursor: pointer;
          padding: 10px;
          display: flex;
          align-items: center;

          svg {
            width: 24px;
            height: 20px;
            fill: #333;
          }
        }

        .site-logo {
          flex: 1;
          display: flex;
          align-items: center;

          svg {
            width: 110px;
            height: auto;
          }
        }

        .fiverr-nav {
          display: flex;
          align-items: center;
          font-weight: bold;

          ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
              margin-left: 20px;

              a,
              button {
                background: none;
                border: none;
                font-size: 16px;
                color: #615c5c;
                cursor: pointer;
                padding: 10px;
                text-decoration: none;
                transition: 0.3s;
                // svg{
                //   color: rgb(179, 55, 55);
                //   background-color: #1dbf73;
                // }

                &:hover {
                  color: #1dbf73;

                  svg {
                    fill: #1dbf73;
                    transition: 0.3s;

                  }
                }

                &.active {
                  color: #1dbf73;
                }
              }

              .join-button {
                color: #25b471;
                border: 1px solid #25b471;
                border-radius: 15%;
                background-color: none;

              }

              .join-button:hover {
                color: white;
                background-color: #25b471;
              }
            }
          }
        }
      }
    }
  }
}

.header-row-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}