#Header {
  position: sticky;
  top: 0;
  z-index: 1000;

  .header-package {
    background-color: #ffffff;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #e4e6e7;

    .header-row-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .fiverr-header-search-animated {
          width: rem(400px);
          // width: 100%;
          display: block;
          margin-top: 0;
          order: 0;
          border: none;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;

          &.visible {
            opacity: 1;
          }

          .search-form {
            position: relative;
            display: flex;
            height: rem(42px);

            input {
              border-color: #c5c6c9;
              color: #62646a;
              display: block;
              border-radius: 4px 0 0 4px;
              border-right: 0;
              flex: 1 1 auto;
              font-size: 16px;
              padding: 10px 2px 10px 16px;
              z-index: 3;
              height: inherit;
              border: solid rgb(184, 184, 184) 1px;
            }

            // .submit-button-link {
            //   height: inherit;

            .submit-button {
              background-color: #222325;
              color: #fff;
              border-radius: 0 4px 4px 0;
              display: block;
              font-size: 14px;
              text-shadow: none;
              flex-shrink: 0;
              padding: 8px 16px;
              z-index: 3;
              font-weight: 700;
              height: inherit;

              .submit-button-icon {
                svg {
                  height: rem(16px);
                  width: rem(16px);
                  overflow-clip-margin: content-box;
                  overflow: hidden;
                  color: white;
                }
              }
            }

            // }
          }
        }

        .btn-navicon {
          background: none;
          border: none;
          cursor: pointer;
          padding: 10px;
          display: flex;
          align-items: center;

          svg {
            width: 24px;
            height: 20px;
            fill: #333;
          }
        }

        .site-logo {
          flex: 1;
          display: flex;
          align-items: center;

          svg {
            width: 110px;
            height: auto;
          }
        }

        .fiverr-nav {
          display: flex;
          align-items: center;
          font-weight: bold;

          ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
              margin-left: 20px;

              a,
              button {
                background: none;
                border: none;
                font-size: 16px;
                color: #615c5c;
                cursor: pointer;
                padding: 10px;
                text-decoration: none;
                transition: 0.2s;
                // svg{
                //   color: rgb(179, 55, 55);
                //   background-color: #1dbf73;
                // }

                &:hover {
                  color: #1dbf73;

                  svg {
                    fill: #1dbf73;
                    transition: 0.2s;

                  }
                }

                &.active {
                  color: #1dbf73;
                }
              }

              .join-button {
                color: #25b471;
                border: 1px solid #25b471;
                border-radius: 10%;
                background-color: none;
                padding: 10px 17px;
                font-size: 14px;

              }

              .join-button:hover {
                color: white;
                background-color: #25b471;
              }
            }
          }
        }
      }
    }
  }
}

.header-row-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}