.user-msg {
	position: fixed;
	bottom: -100px;
	right: 10px;
	background-color: #fff;
	padding: 10px;
	margin: rem(24px);
	border: #555555 solid 1px;
	border-radius: 4px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-msg.open {
	bottom: 10px;
	transition: bottom 0.5s;
}
