.about-details {
	h1 {
		font-size: rem(20px);
		line-height: rem(28px);
		font-weight: 550;
		color: #404145;

		margin-block-end: 1.5rem;
	}

	p {
		font-size: rem(16px);
		line-height: rem(24px);

		margin-block-end: 1.5rem;
	}
}
