.gig-detail-carousel {
	width: 700px;
	max-width: 700px;
	height: auto;
	border-radius: 8px;

	// box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	// background-color: #fff;
	// position: relative;
	overflow: visible;

	// .gig-list-img-container img {
	// 	width: 500px;
	// 	height: 500px;
	// }

	.gig-list-vid-container video {
		width: 700px;
		height: auto;
	}

	.detail-prev-button,
	.detail-next-button {
		padding: 15px 20px;
		width: rem(47px);
		height: rem(47px);
		align-items: center;
		justify-content: center;
		fill: #62646a;
		background-color: #fff;
		// border: 1px solid rgb(231, 218, 218);
		border-radius: 50%;
		position: absolute;
		cursor: pointer;
		z-index: 8;
		border-width: 0;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1.2px 1.92251px 0px, rgba(0, 0, 0, 0.04) 0px 2px 3.68135px 0px, rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
		overflow: visible; // Ensures the button isn't clipped

		// ! TEMP
		background-color: red;

		&.detail-prev-button {
			left: -25px;
			top: 50%;
			transform: translateY(-50%);
			// z-index: 11;
		}

		&.detail-next-button {
			right: -25px;
			top: 50%;
			transform: translateY(-50%);
			// z-index: 11;
		}
	}

	.carousel .thumbs-wrapper {
		opacity: 1;
		margin-top: -15px;
		margin-left: -1px;
	}

	.carousel .thumbs .thumb {
		border: none;
		opacity: 0.5;
		transition: opacity 0.1s ease;
	}

	.carousel .thumbs .thumb.selected {
		opacity: 1;
	}

	.carousel .thumbs .thumb img {
		width: auto;
		height: 55px;
		object-fit: cover;
	}

	.gig-list-img-container {
		transition: 0.5s ease;
	}

	.gig-list-img-container:hover {
		transform: scale(1.05);
		transition: 0.5s ease;
	}
}
