.hero-container {
	position: relative;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;

	@media screen and (max-width: $mobile-breakpoint) {
		background: linear-gradient(to bottom, #003912, #0f7d43);
		justify-content: center;
	}

	img {
		@media screen and (max-width: $mobile-breakpoint) {
			display: none;
		}
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-inline: rem(300px);

		position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		transform: translate(0%, -32px);
		color: white;
		// font-size: 30px;
		// overflow: hidden;

		@media screen and (max-width: $mobile-breakpoint) {
			align-items: center;
			justify-content: center;
			// gap: 40px;
			margin-inline: 0;
			max-width: rem(328px);

			transform: translate(0, 32px);
		}
	}

	.hero-image {
		display: block;
		// margin-inline: auto;
		width: 1400px;
		height: 500px;
		object-fit: cover;
		z-index: -1;

		border-radius: 16px;

		@media screen and (max-width: $mobile-breakpoint) {
			width: auto;
			height: rem(300px);
			border-radius: 0;
		}
	}

	.main-hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.promotion-txt {
			text-align: center;
			font-size: rem(60px);
			line-height: rem(69px);
			letter-spacing: rem(-1.2px);
			font-weight: 400;
			font-family: 'Macan', 'Helvetica Neue', Helvetica, Arial, sans-serif;

			// margin-left: rem(150px);
			// margin-top: rem(50px);

			max-width: 800px;

			@media screen and (max-width: $mobile-breakpoint) {
				@include font(32px, 35.2px, 400);
				// width: rem(328px);
				// margin-inline: rem(87px);
				margin-block: rem(40px);
			}

			.freelancers-txt {
				font-size: rem(62px);
				line-height: rem(71.3px);
				letter-spacing: rem(-1.55px);

				font-family: domaine-italic, serif;
				font-style: italic;

				@media screen and (max-width: $mobile-breakpoint) {
					@include font(32px, 35.2px, 300);
				}
			}
		}
	}

	// change button to className
	// button {
	//     background-color: #003912;
	// }

	.logo-section {
		margin-top: 5rem;
		// padding: 50px;
		// margin: 50px;

		.logo-list {
			display: flex;
			justify-content: center;
			align-items: center;

			gap: rem(32px);
			list-style: none;
			font-size: 13px;
			color: #909299;
			font-weight: 500;

			@media screen and (max-width: $mobile-breakpoint) {
				display: none;
			}

			p {
				font-size: rem(12px);
				line-height: rem(24px);
				font-weight: 550;
				color: #809d89;
			}

			li {
				display: flex;
				align-items: center;
				fill: #809d89;
				color: #809d89;

				svg {
					fill: #809d89;
					// background-color: red;
				}
			}
		}
	}

	.search-bar-package {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;

		.search-form {
			display: flex;
			align-items: center;
			background-color: #fff;
			border-radius: 5px;
			overflow: hidden;
			width: 620px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			height: 55px;
			border-radius: 10px;

			@media screen and (max-width: $mobile-breakpoint) {
				// padding-inline: rem(16px);
				width: auto;
			}

			.search-input {
				flex: 1;
				padding: 0.75rem 1rem;
				border: none;
				font-size: 1rem;
				box-sizing: border-box;
				outline: none;

				@media screen and (max-width: $mobile-breakpoint) {
					width: rem(328px);
				}
			}

			.search-button {
				display: flex;
				align-items: center;
				justify-content: center;

				background-color: #003912;
				color: #fff;
				border: none;
				border-radius: 5px 5px 5px 5px;
				// padding: 0.75rem 1.5rem;
				padding: 15px;
				margin-right: rem(5px);

				cursor: pointer;
				transition: background-color 0.3s ease;

				svg {
					fill: currentColor;
					width: rem(16px);
					height: rem(16px);
				}

				&:hover {
					background-color: #21793d;
				}
			}
		}
	}
}
