.order-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

.order-modal-content {
    background-color: #fff;
    width: 25%;
    height: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    overflow-y: auto;
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }

    svg {
        width: 22px;
        height: 22px;
    }
}

.order-modal-header {
    border-bottom: 1px solid #e0e0e0;
    // border-top: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;

    .order-modal-title {
        font-size: 15px;
        font-weight: bold;
        color: #333;
    }
}

.order-modal-body {
    padding-bottom: 60px;

    .order-option {
        margin-bottom: 20px;

        .option-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
            color: #393939;

            .info-button {
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 5px;

                svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .option-list {
            margin-top: 10px;

            .option-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                background-color: #f8f8f8;
                border-radius: 6px;
                margin-bottom: 10px;

                .option-info {
                    .option-title {
                        font-size: 1rem;
                        font-weight: 500;
                        color: #333;
                    }

                    .option-description {
                        font-size: 0.875rem;
                        color: #777;
                    }
                }

                .option-action {
                    display: flex;
                    align-items: center;

                    .option-price {
                        margin-right: 10px;
                        font-size: 1rem;
                        color: #333;
                    }

                    .add-option-button {
                        background: none;
                        border: none;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        padding: 5px;

                        &:hover svg {
                            stroke: #000;
                        }

                        svg {
                            width: 16px;
                            height: 16px;
                            stroke: #7a7d85;
                            transition: stroke 0.3s;
                        }
                    }
                }
            }
        }
    }

    //
    .bonus-info-order-page {
        background-color: #f8f8f8;
        font-size: 15px;
        padding: 20px;

        // .package-icon,
        // .arrow-container,
        // .recycle-logo,
        // .timer-logo {
        //     width: 1px;
        //     height: 1px;
        // }

    }

    //

    .order-summary {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 15px;
        // box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
        // border-top: 1px solid #ddd;
        border-top: 1px solid #ddd;

        .summary-title {
            font-size: 16px;
            font-weight: 600;
            color: #333;
            margin-bottom: 10px;
        }

        .summary-list {
            list-style: none;
            padding: 0;
            margin-bottom: 10px;

            .summary-item {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                color: #555;
                padding: 5px 0;

                .summary-item-name {
                    color: #777;
                }

                .summary-item-price {
                    color: #333;
                    font-weight: 500;
                }
            }
        }

        .charged-msg {
            margin-top: 10px;
            text-align: center;
            font-size: 13px;
        }

        .total-price {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            font-weight: bold;
            margin-top: 15px;
            border-bottom: 1px solid #ddd;
        }

        .total-amount {
            font-size: 22px;
            color: #333;
            margin-bottom: 15px;
        }

        .place-order-button {
            width: 100%;
            padding: 10px 0;
            background-color: #000000;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            margin-top: 15px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #383a3b;
            }
        }
    }
}