.seller-pro-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between; /* This ensures proper spacing */
	border-radius: 5px;

	background-color: #2e25ad;
	color: #ffffff;
	fill: #ffffff;

	padding-inline: 6px; /* Add padding to ensure 6px from the ends */

	svg {
		flex-shrink: 0;
		margin-inline-end: 4px; /* Adjust margin between svg and text */
	}

	p {
		flex-shrink: 0;
		font-size: rem(14px);
		line-height: rem(20px);
		font-weight: 550;
		margin: 0; /* Remove default margin */
	}
}
