// Grid
.main-container {
  display: grid;
  grid-template-columns:
    minmax($layoutPadding, 1fr)
    minmax(auto, $normal-breakpoint)
    minmax($layoutPadding, 1fr);

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 / -1;
    }
  }

  @include for-mobile-layout {
    grid-template-columns:
      minmax($layoutPadding, 1fr)
      minmax(auto, $mobile-breakpoint)
      minmax($layoutPadding, 1fr);
  }

  // @include for-tablet-layout {
  // 	grid-template-columns:
  // 		minmax($layoutPadding, 1fr)
  // 		minmax(auto, $tablet-breakpoint)
  // 		minmax($layoutPadding, 1fr);
  // }

  @include for-normal-layout {
    grid-template-columns:
      minmax($layoutPadding, 1fr)
      minmax(auto, $normal-breakpoint)
      minmax($layoutPadding, 1fr);
  }
}

// .card-grid {
// 	display: grid;
// 	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
// 	grid-gap: 20px;
// }

// main {
// 	min-height: calc(100vh - 12rem);
// 	overflow: hidden; // Quick fix for JSONs in <pre>
// 	display: flex;
// 	flex-direction: column;
// }
// }
