/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: calc($mobile-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-tablet-layout {
  @media (min-width: calc($tablet-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: calc($normal-breakpoint + 40px)) {
    @content;
  }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin marker($border, $background) {
  background-color: $border;
  border-color: $background;
  border-style: solid;
}

@mixin font($size, $line-height, $font-weight) {
  font-size: rem($size);
  line-height: rem($line-height);
  font-weight: $font-weight;
}

@mixin button-border($color) {
  border-color: $color;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;

  color: $color;
}

@mixin triangle-tab-marker($position) {
  &::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: $main_bg2;
    border: #dddddd 1px solid;
    border-bottom: none;
    border-right: none;
    position: absolute;
    transform: rotate(45deg);
    bottom: -8px; /* Adjust position relative to the text */
    left: $position;
    transform: translateX(-50%) rotate(45deg);
  }
}
