// Colors
$clr1: #ce2e6c;
$main_clr1: #1dbf73;
$main_clr2: #25b471;

$layoutPadding: 24px;

// LAYOUT BREAKPOINTS
$mobile-breakpoint: 599px;
$tablet-breakpoint: 899px;
$normal-breakpoint: 1400px;

$padded-break-mobile: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-tablet: $tablet-breakpoint + $layoutPadding * 2;
$padded-break-normal: $normal-breakpoint + $layoutPadding * 2;
